body {
  overflow: hidden !important;
}
html{
  overflow-x: hidden !important;
}
// general style
img {
  max-width: 100%;
}



a {
  text-decoration: none;
  &:hover {
    color: #fff;
  }
}


.owl-carousel .owl-item img {
  width: auto;
}
ul {
  list-style: none;
}



// owl style
body {
  .owl-theme {
    .owl-dots {
      margin-top: 40px;
      .owl-dot {
        span {
          width: 10px;
          height: 10px;
          margin: 5px 7.5px;
          background: #ECECEC;
          transition: width 0.2s;
        }
        &:hover {
          span {
            background: rgba($color:  $orange-two, $alpha: 0.7);
          }
        }
      }
      .owl-dot.active {
        span {
          background: $orange-two;
          // width: 10px;
        }
      }
    }
    .owl-nav {
      [class*="owl-"] {
        width: 40px;
        height: 40px;
        background: $main-color-gold;
        border-radius: 22px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        &:hover {
          background: $main-color-gold;
        }
      }
    }
    .owl-next {
      #{$end-direction}: -73px;
      #{$start-direction}: auto ;
    }
    .owl-prev {
      #{$start-direction}: -73px;
      #{$end-direction}: auto ;

    }
    // .disabled {
    //   visibility: hidden !important;
    // }
  }
}


.homeBanner {
  width: 100%;
  height: 100vh;
  padding-bottom: 0px;
  position: relative;
 

  .owl-carousel-banner {

    .banner-item{
      height: 100vh;
      position: relative;
      padding-top: 180px;
      padding-top: 19vh;
      
      .bg-box{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        #{$start-direction}:0;
        z-index: -2;
        &::before{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          #{$start-direction}:0;
          background-color: #072C1A;
          opacity: .95;
          mix-blend-mode: multiply;
          display: none;
        }
      
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

      }
      .img-box{
        margin-bottom: 150px;
        position: relative;
        width: max-content;
        // height: 218px;
        height: 23vh;
        max-height: 218px;
        margin-bottom: 15vh;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .bannerBox{
        max-width: 675px;
        p{
          font-size: 1.875rem;
          font-family: "DSC-light";
          color: #fff;
          line-height: 52px;
          text-align: justify;
          margin-bottom: 25px;
          position: relative;
          padding-top: 35px;
          padding-#{$start-direction}: 10px;
          letter-spacing: -0.5px;
          &::before{
            content: "";
            position: absolute;
            top: 0;
            #{$start-direction}:-10px;
            width: 38px;
            height: 25px;
            background-image: url(../images/home/quote-top.svg);
            background-repeat: no-repeat;
            background-size: contain;
          }
          &::after{
            content: "";
            position: absolute;
            bottom: 0;
            #{$end-direction}:0;
            width: 38px;
            height: 25px;
            background-image: url(../images/home/quote-top.svg);
            background-repeat: no-repeat;
            background-size: contain;
            transform: rotate(180deg);
          }
        }
        span{
          font-size: 1.125rem;
          font-family: "DSC-light";
          color: $main-color-gold;
        }
      }
    }

    .owl-dots .owl-dot span{
      background: #fff !important;
      opacity: .5;
    }
     .owl-dots .owl-dot:hover span{
      background: #fff !important;
      opacity: .75;
    }
      .owl-dots .owl-dot.active span{
      opacity: 1;
    }
    .owl-dots{
      position: absolute;
      bottom: 57px;
      width: 100%;
    }
  }

  // scroll down
  .scroll-down{
    position: absolute;
    bottom: 35px;
    #{$end-direction}:105px;
    z-index: 9;
    a{
      display: block;
      span{
        font-size: .75rem;
        color: #fff;
      }
      img{
        margin-#{$start-direction}: 7px;
      }
    }
  }
  
}


// start menu mega
.customMenu .navbar {
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-expand-lg .navbar-collapse {
  // justify-content: flex-end;
  justify-content: space-between;
}

// AO start about
.aboutCenter {
  background-color: #ECECEC;
  padding: 75px 0 55px;
  overflow: hidden;
  .about-white{
    background-color: #fff;
  }
  .aboutTxt {
    padding: 55px;
    // padding-#{$end-direction}: 74px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      padding-#{$start-direction}:20px; 
      text-align: #{$start-direction};
      margin: 0;
      font-size: 2.375rem;
      font-family: "DSC-Medium";
      margin-bottom: 15px;
      color: $main-color;
      position: relative;
      &::before{
        content:"";
        position: absolute;
        #{$start-direction}: 0;
        top: 7px;
        width: 5px;
        height: 32px;
        background-color: $main-color-gold;
      }
    }
    p{
      font-size: 1.375rem;
      color: $p-color;
      text-align: justify;
      line-height: 38px;
      letter-spacing: 1px;
      margin-bottom: 0;
    }
    .mainBtn {
      margin-top: 19px;
      font-size: 1.5rem;
      font-family: "DSC-Medium";
      color: $main-color;
      display: block;
      margin-#{$end-direction}: 0;
      margin-#{$start-direction}: auto;
      img{
        margin-#{$start-direction}: 2px;
        transition: 300ms;
      }
      &:hover{
        img{
          transform: translateX(-5px);
        }
      }
    }
  }
  .patternImg{
    width: 100%;
    height: 100%;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      background-image: url(../images/home/poly1.svg);
      width: 22px;
      height: 44px;
      #{$start-direction}:0;
      top: 51px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.home-header{
  font-size: 1.5rem;
  font-family: "DSC-bold";
  color: $main-color;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 40px;
  &::before{
    content:"";
    position: absolute;
    #{$start-direction}: 0;
    top: 100%;
    width: 92px;
    height: 5px;
    background-color: $main-color-gold;
  }

}
.orange-btn{
  background-color: $orange-two;
  color: #fff;
  font-size: 1.25rem;
  padding: 14.5px 50px;
}


.fields{
  background-color: #fff;
  padding-top:65px ;
  padding-bottom: 75px;

  .fields-item{
    .field-box{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: #ECECEC;
      .content-box{
        padding-#{$start-direction}:60px ;
        padding-top: 70px;
        padding-bottom: 70px;
        padding-#{$end-direction}: 55px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 380px;
        h3{
          font-size: 1.5625rem;
          font-family: "DSC-bold";
          color: $main-color;
          margin-bottom: 25px;
        }
        p{
          font-size: 1.5625rem;
          color: $p-color;
          line-height: 40px;
          margin-bottom: 0;
          text-align: justify;
        }
      }
      .img-box{
        position: relative;
        margin-#{$start-direction}: 65px;
        height: 100%;
        max-height: 380px;
        .img-bg{
          width: 100%;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
  
        }
        .img-icon{
          position: absolute;
          width: 120px;
          height: 120px;
          #{$end-direction}:35px;
          bottom: 29px;
          z-index: 9;
          img{
            max-width: 100%;
            max-height: 100%;
          }
        }
        &::before{
          content: "";
          position: absolute;
          background-image: url(../images/home/field-poly.svg);
          background-repeat: no-repeat;
          background-size: contain;
          width: 31px;
          height: 60px;
          top: 52px;
          #{$start-direction}:-2px;
        }
      }
    }
  }
  .owl-theme .owl-nav [class*="owl-"]{
    top: 43%;
  }
  .owl-theme .owl-next {
    #{$end-direction}: 73px;
    #{$start-direction}: auto;
  }
  .owl-theme .owl-prev {
    #{$start-direction}: 73px;
    #{$end-direction}: auto;
  }
}




.tatwer-elkharegeen{
  padding-top: 65px;
  padding-bottom: 75px;
  background-color: #ECECEC;
  .tatwer-main{
    background-image: url(../images/home/tatwer-home-img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 102px;
    padding-#{$start-direction}: 76px;
    padding-#{$end-direction}: 87px;
    padding-bottom: 71px;
    display: flex;
    flex-direction: row;
    .content-box{
      // padding-#{$end-direction}:15px ;
      width: 543px;
      .img-box{
        margin-bottom: 110px;
        img{}
      }
      p{
        font-size: 1.75rem;
        line-height: 45px;
        color: #fff;
        letter-spacing: .5px;
        text-align: justify;
        // margin-bottom: 0;
      }
    }
  }
  .more-btn{
    width: 225px;
    margin-#{$start-direction}:auto ;
    margin-#{$end-direction}: 0;
    margin-top: auto;
    margin-bottom: 0;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



.partners {
  background-color: #fff;
  padding: 70px 0 45px;
  .home-header{
    margin-bottom: 62px;
    &::before{
      width: 82px;
    }
  }

  .owl-carousel-partners{
    // padding: 0;
  }
  .partBox {
    text-align: center;
    display: block;
    height: 238px;
    .partImg{
      height: 156px;
      max-width: 100%;
      margin-bottom: 3px;
      overflow: hidden;
    }
    .hedinBt {
      font-size: 0.9375rem;
      color: $p-color;
      line-height: 27px;
      transition: all  0.5s;
      visibility: hidden;
      height: 0px;
      transform: translateY(0px);
      overflow: hidden;
      margin-bottom: 0;
    }
    img {
      filter: grayscale(1);
      transition: all  0.5s;
    }
    &:hover {
      .hedinBt {
        visibility: visible;
        transform: translateY(0px);
        height: 28px;
      }
      img {
        filter: unset;
      }
    }
  }
  .owl-theme .owl-nav [class*="owl-"] {
    top: 85px;
  }
 
}



footer {
  background-color: $main-color;
  padding: 70px 90px 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .served{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .linkR{
      color: #fff;
      a{
        color: #fff;
        font-size: 1rem;
        font-family: "DSC-Regular";
        display: inline-block;
        position: relative;
        padding-#{$end-direction}:24px ;
        &::before{
          content: "";
          position: absolute;
          #{$end-direction}:10px;
          top: 4px;
          width: 2px;
          height: 17px;
          background-color: #fff;
        }
        &:last-child{
          padding#{$end-direction}: 0;
          &::before{
            display: none;
          }

        }
      }
    }
    p{
      font-size: 1rem;
      font-family: "DSC-Regular";
      color: #fff;
      margin-bottom: 0;
      margin-top: 6px;
    }

  }

}

























.contrast {
  -webkit-filter: grayscale(100%) brightness(95%) contrast(120%);
          filter: grayscale(100%) brightness(95%) contrast(120%);
         
}








@media(max-width:1199px){
  .navbar-nav{
    padding-#{$start-direction}: 60px;
  }
}

.main-topnav{
  position: fixed;
  width: 100%;
  z-index: 99999;
  background-color: transparent;
  top: -2px;
  #{$start-direction}:0;
  .bgTopNav{
    .topNav{
      padding-top: 45px;
      padding-bottom: 30px;
      padding-#{$start-direction}: 100px;
      padding-#{$end-direction}: 105px;
      display: flex;
      align-items: center;
      .a-logo{
        display: none;
      }
      .slide-nav{
        width: 34px;
        height: 30px;
        border: 1.5px solid #fff;
        border-radius: 3px;
        padding: 8px;
        display: inline-block;
        transition: 300ms;
        z-index: 9999;
        .menu-label{
          font-size: 14px;
          color: #fff;
          margin-bottom: 0;
          transform: translate(-40px, -20px);
          opacity: 0;
          transition: 300ms;
        }
        span{
          display: block;
          background-color: #fff;
          height: 1px;
          margin-bottom: 5px;
          
          &.first{
            width: 18px;
            transition: 300ms;
          }
          &.second{
            width: 11.5px;
            transition: 300ms;
          }
          &.third{
            width: 6.5px;
            margin-bottom: 0;
            transition: 300ms;
          }
        }
        &:hover{
          .menu-label{
            opacity: 1;
          }
          span{
            &.second{
              transform: translateX(-5px);
            }
            &.third{
              transform: translateX(-9px);
            }
          }
        }
      }
      .left{
        display: inline-block;
        margin-#{$start-direction}: auto;
        margin-#{$end-direction}: 0;
      }
      .joinBtn{
        display: inline-block;
        font-size: 16px;
        color: #fff;
        padding: 7px 22px 5px;
        background-color: $main-color-gold ;
      }
      .changeLang{
        display: inline-block;
        font-size: 20px;
        color: #fff;
        margin-#{$start-direction}: 55px;
      }
    }
  }
  .bannerBg{
    background-color: $main-color;
    width: 490px;
    height: 100.5vh;
    position: fixed;
    top: 0;
    #{$start-direction}: 0;
    transform: translateX(490px);
    transition: 500ms;
    .customMenu{
      height: 100%;
      padding-top: 210px;
      padding-#{$start-direction}:37px ;
      padding-#{$end-direction}:38px ;
      .navigations{
        padding: 0;
        margin: 0;
        padding-#{$start-direction}:72px ;
        height: 50vh;
        li{
          a{
            font-size: 1.5rem;
            color: #fff;
            transition: 300ms;
            padding: 0;
            margin-bottom: 16px;
            &:hover{
              color: $orange-two;
            }
          }
        }
      }
        .acc-functions{
          display: flex;
          width: 100%;
          justify-content: flex-end;
          border-top: 1px solid rgba($color:  #fff, $alpha: 0.5);
          padding-top: 27px;
          // margin-top: 340px;
          .top-functions{
            margin: 0 ;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;

            a.social-nav{
              margin-#{$end-direction}:10px ;
            }
            li{
              a{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                border: 1.5px solid #fff;
                border-radius: 6px;
                color: #fff;
                font-size: 16px;
                font-family: "DSC-bold";
                opacity: .6;
                margin-#{$start-direction}:15px ;
                margin-bottom: 0;
                box-shadow: 0px 0px 15px rgba($color:  #000000, $alpha: 0.05);
                transition: 300ms;
                &:hover{
                  opacity: 1;
                }
              }
            }
          }
        }
      // }
    }
    &.slide-me{
      transform: translateX(0);
    }
  }
  &.fixedTop{
    // background-color: $main-color;
    backdrop-filter: blur(4px);
    background-color: rgba($color: #245a3b , $alpha: 0.9);

    .bgTopNav{
      .topNav{
        padding-top: 30px;
        padding-bottom: 20px;
        .a-logo{
          display: block;
          margin-#{$start-direction}: 59px;
        }
      }
    }
  }
}




// inner banner

.innerBanner{
  .breadcrumb-banner{
    height: 100vh;
    position: relative;
    padding-top: 180px;
    padding-top: 19vh;
    .bg-box{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      #{$start-direction}:0;
      z-index: -2;
      &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        #{$start-direction}:0;
        background-color: #072C1A;
        opacity: .95;
        mix-blend-mode: multiply;
        display: none;
      }
    
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }
    .img-box{
      margin-bottom: 150px;
      position: relative;
      width: max-content;
      // height: 218px;
      height: 23vh;
      max-height: 218px;
      margin-bottom: 15vh;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .breadcrumb{
      margin: 0;
      padding: 0;
      li{
        margin: 0;
        padding: 0;
        a{
          display: inline;
          color: #fff;
          font-size: 15px;
          font-family: "DSC-Medium";
          position: relative;
          padding-#{$end-direction}: 32px;
          &::before{
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            #{$end-direction}: 6px;
            top: 4px;
            background: transparent url(../images/shared/breadcrumb-arrow.svg) no-repeat;
            
          }
        }
        span{
          display: inline;
          color: #fff;
          font-size: 15px;
          font-family: "DSC-Medium";
          position: relative;
        }
      }
    }
    h2{
      font-size: 2.8125rem;
      font-family: "DSC-bold";
      color: #fff;
      margin-top: 55px;
      margin-top: 5vh;
    }
  }
}


// about

.about-details{
  background-color: #ECEBEB;
  margin-top: 75px;
  margin-bottom: 75px;
  .content-box{
    padding-#{$start-direction}: 100px;
    padding-#{$end-direction}: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    p{
      color: $p-color;
      font-size: 1.5rem;
      line-height: 46px;
      text-align: justify;
      letter-spacing: .5px;
      margin-bottom: 0;
    }
  }
  .img-box{
    // width: 100%;
    // height: 100%;
    position: relative;
    margin-#{$start-direction}: 47px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::before{
      content: "";
      position: absolute;
      background-image: url(../images/shared/about-det-shape.svg);
      background-size: contain;
      width: 31px;
      height: 59px;
      #{$start-direction}: -3px;
      top: 51px;
    }
  }
}

.vision-mission{
  margin-bottom: 95px;
  .card{
    border: none;
    padding-bottom: 13px;
    border-bottom: 2px solid;
    border-radius: 0;
    .img-box{
      width: 100%;
      height: 299px;
      position: relative;
      > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .overlay{
        position: absolute;
        width: 148px;
        height: 100%;
        #{$start-direction}: 40px;
        top: 0;
        mix-blend-mode: multiply;
      }
      .layer{
        position: absolute;
        width: 148px;
        height: 100%;
        #{$start-direction}: 40px;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 2;
        .icon-box{
          position: relative;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          &::before{
            content: "";
            position: absolute;
            width: 2px;
            height: 40px;
            #{$start-direction}:-1px;
            top: 50%;
            transform: translateY(-50%);

          }
          img{
            // width: 100%;
            // height: 100%;
          }
        }
        h4{
          font-size: 2.1875rem;
          font-weight: 400;
          color: #fff;
          text-align: justify;
        }
      }

    }
    .content-box{
      background-color: #ECEBEB;
      padding: 35px 40px;
      display: flex;
      align-items: center;
      height: 238px;
      p{
        text-align: justify;
        font-size: 1.5625rem;
        color: $p-color;
        line-height: 42px;
        margin-bottom: 0;
        letter-spacing: .5px;
      }
    }
    &.vision {
      border-bottom-color: $main-color;
      .img-box{
        .overlay{
          background-color: $main-color;
        }
        .layer{
          .icon-box{
            &::before{
              background-color: $main-color-gold;
            }
          }
        }
      }
    }
    &.mission {
      border-bottom-color: $main-color-gold;
      .img-box{
        .overlay{
         
          background-color: $main-color-gold;
        }
        .layer{
          .icon-box{
            &::before{
              background-color: $main-color;
            }
          }
        }
      }
    }
  }
}

.values{
  margin-top: 95px;
  margin-bottom: 75px;
  .home-header{
    margin-bottom: 76px;
  }
  .values-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .value-item{
      width: 225px;
      height: 280px;
      position: relative;
      .img-box{
        width: 225px;
        height: 225px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .content-box{
        padding: 15px 10px 0;
        text-align: center;
        h4{
          padding: 0;
          margin: 0;
          font-size: 1.25rem;
          font-family: "DSC-Medium";
          line-height: 37px;
          &.color1{
            color: #7A203A;
          }
          &.color2{
            color: $main-color;
          }
          &.color3{
            color: #70645B;
          }
          &.color4{
            color: $main-color-gold;
          }
        }
      }
    }
  }
}

.partners-about{
  padding-top: 20px;
  padding-bottom: 20px;
  .home-header{
    margin-bottom: 60px;
    &::before {
      width: 92px;
    }
  }
  .partners-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .partner-item{
      flex: 0 0 auto;
      width: 20%;
      padding: 0 20px;
      margin-bottom: 10px;
      .partBox{
        height: 178px;
        .partImg{
          height: 127px;
          margin-bottom: 5px;
          overflow: hidden;
          img{}
        }
        .hedinBt{
          line-height: 24px;
          margin-bottom: 0;
        }
        &:hover{
          .hedinBt{
            height: calc(25px * 2);
          }
        }
      }
    }
  }
}


// privacy
.cont-grey-card{
  background-color: #E6E6E5 ;
}

.privacy{
  padding-top: 90px;
  padding-bottom: 150px;
  .cont-grey-card{
    padding: 86px 115px 120px;
    p{
      font-size: 1.5rem;
      line-height: 46px;
      font-family: "DSC-light";
      color: $p-color;
      margin-bottom: 40px;
      text-align: justify;
      a{
        font-size: inherit;
        color: inherit;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

// terms of use

.use-terms{
  padding-top: 90px;
  padding-bottom: 100px;

}
.accordion{
  .accordion-item{
    margin-bottom: 30px;
    border: none;
    border-radius: 0;
    .accordion-header{
      .accordion-button{
        padding: 38px 115px;
        // padding-#{$start-direction}: 115px;
        background-color: #E6E6E5;
        border-radius: 0;
        font-size: 1.875rem;
        font-family: 'DSC-Medium';
        color: $main-color;
        border: 0;
        box-shadow: none;
        text-align: start;
        &::after{
          width: 36px;
          height: 36px;
          background-image: url(../images/shared/plus.svg);
          background-size: contain;
          background-repeat: no-repeat;
          // margin-#{$start-direction}: auto;
          // margin-#{$end-direction}: 0;
          position: absolute;
          #{$end-direction}: 60px;
          top: 50%;
          transform: translateY(-50%);
          transition: 350ms;
        }
        &:not(.collapsed)::after{
          transform: translateY(-50%) rotate(135deg);
        }
      }
    }
    .accordion-collapse{
      .accordion-body{
        background-color: #E6E6E5;
        padding: 15px 115px;
        padding-bottom: 75px;
        h4{
          color: $p-color;
          font-family: "DSC-Medium";
          font-size: 1.375rem;
          line-height: 40px;
          text-align: justify;
          margin-bottom: 15px;
          font-weight: 500;
        }
        p{
          color: $p-color;
          font-size: 1.375rem;
          line-height: 40px;
          letter-spacing: .5px;
          text-align: justify;
          margin-bottom: 10px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        ul{
          padding-#{$start-direction}: 70px;
          padding-#{$end-direction}: 0px;
          li{
            color: $p-color;
            font-size: 1.375rem;
            line-height: 40px;
            letter-spacing: .5px;
            text-align: justify;
            margin-bottom: 10px;

          }
          &.numbers{
            list-style: decimal
          }
          &.no-numbers{
            position: relative;
            li{
              position: relative;
              &::before{
                content: "-";
                position: absolute;
                #{$start-direction}: -20px;
                top: 0;
              }
            } 

          }
        }
        
      }
    }
  }
}


.Graduate-Dev{
  margin-top: 120px;
  margin-bottom: 75px;
  .cont-grey-card{
    padding: 45px 50px;
    p{
      font-size: 1.5rem;
      line-height: 46px;
      font-family: "DSC-Medium";
      color: $p-color;
      margin-bottom: 0;
      text-align: justify;
    }
  }
}

.grad-number-cards{
  padding-bottom: 75px;
  .col-lg-4{
    padding-#{$start-direction}: 32px;
    padding-#{$end-direction}: 32px;
    &:first-child{
      padding-#{$start-direction}: calc(var(--bs-gutter-x) * .5);;
    }
    &:last-child{
      padding-#{$end-direction}: calc(var(--bs-gutter-x) * .5);;
    }
  }
  .number-card{
    width: 100%;
    height: 465px;
    padding-top: 54px;
    padding-bottom: 35px;
    position: relative;
    .img-box{
      position: absolute;
      width: 100%;
      height: 100%;
      #{$start-direction}:0;
      top: 0;
      z-index: -5;
      &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        #{$start-direction}:0;
        top: 0;
        mix-blend-mode: multiply;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content-box{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      height: 100%;
      .icon-box{
        max-height: 80px;
        margin-bottom: 50px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .number{
        font-size: 170px;
        font-family: "DSC-bold";
        color: #fff;
        line-height: 180px;
      }
      h5{
        font-size: 2.3125rem;
        font-family: "DSC-bold";
        color: $main-color-gold;
        margin-bottom: 15px;
      }
    }

    &.number-card-1{
      .img-box{
        &::after{
          background-color: #514943;
        }
      }
    }
    &.number-card-2{
      .img-box{
        &::after{
          background-color: #002C4D;
        }
      }
    }
    &.number-card-3{
      .img-box{
        &::after{ 
          background-color: #286140;
        }
      }
    }
  }
}

.batch-card{
  margin-bottom: 65px;
  .cont-grey-card{
    padding: 50px 47px;
  }

  h3{
    background-color: $main-color-gold;
    width: 100%;
    text-align: center;
    font-size: 2.0625rem;
    font-family: "DSC-bold";
    color: #fff;
    margin-bottom: 15px;
    line-height: 61px;
    padding-top: 10px;
    padding-bottom: 4px;
  }

  .batch-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    .content-sec{
      display: flex;
      flex-direction: column;
      flex: 0 0 67%;
      max-width: 67%;
      .date{
        font-size: 1.75rem;
        font-family: "DSC-bold";
        color: $black-text;
        margin-top: 25px;
        line-height: 33px;
      }
      p{
        font-size: 1.75rem;
        font-family: "DSC-Regular";
        color: $black-text;
        line-height: 42px;
        margin-bottom: 10px;
        // letter-spacing: 1px;
        text-align: justify;
        strong{
          font-family: "DSC-bold";
        }

      }
      h4{
        font-size: 1.75rem;
        font-family: "DSC-bold";
        color: $black-text;
        line-height: 42px;
        margin-top: 25px;
      }
      .types-of{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        .type{
          padding-top: 13px;
          padding-bottom: 9px;
          padding-#{$start-direction}: 17px;
          padding-#{$end-direction}: 17px;
          min-width: 460px;
          min-height: 75px;
          background-color: #fff;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-#{$start-direction}: 25px;
          .icon{
            max-width: 60px;
            max-height: 42px;
            margin-#{$end-direction}: 25px;
            
            img{
              width: 100%;
              height: 100%;
            }
          }
          .desc{
            font-size: 1.75rem;
            font-family: "DSC-Regular";
            color: $black-text;
            p{
              font-size: 1.75rem;
              font-family: "DSC-Regular";
              color: $black-text;
              margin-bottom: 0;
              display: inline-block;
              span{
                color: #235034;
              }
            }
          }
          &:first-child{
            margin-#{$start-direction}: 0;
          }
        }
      }
    }
  }

  .card-sec{
    flex: 0 0 26%;
    max-width: 26%;
    width: 377px;
    height: 455px;
    padding-top: 78px;
    padding-bottom: 85px;
    position: relative;
    margin-#{$start-direction}: auto;
    margin-#{$end-direction}: 0;
    .img-box{
      position: absolute;
      width: 100%;
      height: 100%;
      #{$start-direction}:0;
      top: 0;
      z-index: 0;
      &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        #{$start-direction}:0;
        top: 0;
        background-color: #286140;
        mix-blend-mode: multiply;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content-box{
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      height: 100%;
      .icon-box{
        max-height: 55px;
        margin-bottom: 30px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .number{
        font-size: 136px;
        font-family: "DSC-bold";
        color: #fff;
        line-height: 140px;
      }
      h5{
        font-size: 1.8125rem;
        font-family: "DSC-bold";
        color: $main-color-gold;
        margin-bottom: 10px;
      }
    }

  }

}


html[lang="en"]{
  // .partners .owl-theme .owl-nav [class*="owl-"]{
  //   transform: translateY(-50%) scale(-1);
  // }
  .main-topnav .bannerBg{
    transform: translateX(-490px);
  }
  .main-topnav .bannerBg.slide-me {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .main-topnav .bgTopNav .topNav .slide-nav:hover span.second {
    transform: translateX(5px);
  }
  .main-topnav .bgTopNav .topNav .slide-nav:hover span.third {
    transform: translateX(9px);
  }
  .main-topnav .bgTopNav .topNav .slide-nav .menu-label{
    transform: translate(40px, -20px);
  }
  .homeBanner .owl-carousel-banner .banner-item .bannerBox p::before{
    transform: scaleX(-1);
  }
  .aboutCenter .aboutTxt .mainBtn img{
    transform: scaleX(-1);
  }
  .aboutCenter .aboutTxt .mainBtn:hover img{
    transform: scaleX(-1) translateX(-5px);
  }
 p{
  letter-spacing: 0 !important;
 }

 .homeBanner .owl-carousel-banner .banner-item .bannerBox{
  max-width: 775px;
 }
 .homeBanner .owl-carousel-banner .banner-item .bannerBox p{
  font-size: 1.6875rem;
  line-height: 48px;
  padding-#{$end-direction}: 20px;
 }
 .homeBanner .owl-carousel-banner .banner-item .bannerBox p::after{
  bottom: -7px;
  #{$end-direction}: -10px;
  transform: rotate(180deg) scaleX(-1);
 }
 .homeBanner .owl-carousel-banner .banner-item .bannerBox span{
  font-size: 1rem;
 }
 .aboutCenter .aboutTxt .title{
  font-size: 2.25rem;
 }
 .aboutCenter .aboutTxt .title::before{
  top: 3px;
 }
 .aboutCenter .aboutTxt p{
  font-size: 1.25rem;
  line-height: 33px;
 }
 .aboutCenter .aboutTxt .mainBtn{
  font-size: 1.375rem;
 }
 .fields .fields-item .field-box .content-box p{
  font-size: 1.5rem;
 }
 .tatwer-elkharegeen .tatwer-main{
  background-image: url(../images/home/tatwer-home-img-en.svg);
 }
 .tatwer-elkharegeen .tatwer-main .content-box{
  width: 670px;
 }
 .tatwer-elkharegeen .tatwer-main .content-box p{
  font-size: 1.625rem;
 }
 .partners .partBox .hedinBt{
  font-size: 0.875rem;
  line-height: 22px;
  padding: 0 55px;
 }
 .partners .partBox:hover .hedinBt{
  height: 48px;
 }
 .homeBanner .scroll-down a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  }
  .homeBanner .scroll-down a img {
    margin: 0;
  }
  .homeBanner .scroll-down a span{
    margin-#{$start-direction}: 7px;
    margin-top: 8px;
  }
  .main-topnav .bannerBg .customMenu .navigations{
    padding-#{$start-direction}: 13px;
    padding-#{$end-direction}: 12px;
  }
  .main-topnav .bannerBg .customMenu .navigations li a{
    font-size: 1.375rem;
  }





  .innerBanner .breadcrumb-banner .breadcrumb li a::before{
    transform: scaleX(-1);
  }
  .about-details .img-box::before{
    transform: scaleX(-1);
  }
  .about-details .content-box{
    padding-#{$start-direction}: 90px;
    padding-#{$end-direction}: 40px;
  }
  .vision-mission .card.mission .img-box .overlay,
  .vision-mission .card.mission .img-box .layer{
    width: 186px;
  }
  .vision-mission .card.vision .img-box .overlay,
  .vision-mission .card.vision .img-box .layer{
    width: 162px;
  }
  .vision-mission .card .content-box{
    height: 280px;
  }
  .vision-mission .card .content-box p{
    font-size: 1.5rem;
  }
  .partners-about .partners-list .partner-item{
    margin-bottom: 20px;
  }
  .partners .partBox .hedinBt{
    padding: 0 25px;
  }


  .Graduate-Dev .cont-grey-card p{
    font-size: 1.3125rem;
    line-height: 37px;
  }
  .batch-card .batch-content .content-sec .date,
  .batch-card .batch-content .content-sec p,
  .batch-card .batch-content .content-sec h4
  {
    font-size: 1.3125rem;
    line-height: 32px;
  }
  .batch-card .batch-content .content-sec .types-of .type .desc,
  .batch-card .batch-content .content-sec .types-of .type .desc p{
    font-size: 1.25rem;
  }
  .batch-card .batch-content .content-sec .types-of .type .icon {
    max-width: 45px;
    max-height: 33px;
    margin-#{$end-direction}: 20px;
  }
}