// montserrat
@font-face {
    font-family: "DSC-light";
    src: url($font-path + "DSC-light.otf")
  }
@font-face {
    font-family: "DSC-Regular";
    src: url($font-path + "DSC-Regular.otf")
  }
@font-face {
    font-family: "DSC-Medium";
    src: url($font-path + "DSC-Medium.otf")
  }
@font-face {
    font-family: "DSC-bold";
    src: url($font-path + "DSC-bold.otf")
  }