@media (min-width: 1300px) {
  .container {
    max-width: 1560px;
  }
}
@media (min-width: 1300px) and (max-width: 1440px) {
  .container {
    max-width: 1200px;
    // border: 1px solid red;
  }
  .homeBanner {
    .container {
      max-width: 1280px;
    }
  }
  body .owl-theme .owl-next {
    #{$end-direction}: -25px;
  }
  body .owl-theme .owl-prev {
    #{$start-direction}: -25px;
  }
}

@media screen and (min-width: 992px) {

 
}

@media (min-width: 992px) and (max-width: 1300px) {
  
}
@media (min-width: 767.68px) and (max-width: 1300px) {

}






@media (max-width: 1650.98px) {

}


@media (max-width: 1440px) {

}


@media (max-width: 1199.98px) {
}


@media (max-width: 991.98px) {
 
}

@media (max-width: 767.98px) {
 

}


@media (max-width: 574.98px) {
 
}