body {
    font-family: $font-en;
    // color: $color-default;
    direction: $direction;
    text-align: $start-direction;
  }
  html[dir="rtl"] body {
    font-family: $font-ar;
  }
  *,
  *:focus,
  *:active,
  button:focus {
    outline: none;
  }
  a:hover {
    text-decoration: none;
  }
  p {
    font-size: 15px;
    color: #666;
    line-height: 30px;
  }
  h4 {
    font-size: 22px;
    font-weight: bold;
  }
  // label{
  //   font-family: Roboto;
  //   font-size: 18px;
  //   font-weight: $w-bold;
  //    color: $black-color;
  //    line-height: 28px;
  // }
  .mb-20 {
    margin-bottom: 20px !important;
  }
  .mb-30 {
    margin-bottom: 30px !important;
  }
  .mb-40 {
    margin-bottom: 40px !important;
  }
  .mb-70 {
    margin-bottom: 70px !important;
  }
  .mt-40 {
    margin-top: 40px !important;
  }
  .mt-30 {
    margin-top: 30px !important;
  }
  .ml-30 {
    margin-left: 30px !important;
  }
  .mt-70 {
    margin-top: 70px !important;
  }
  .mt-50 {
    margin-top: 50px !important;
  }
  .pl-15{
    padding-#{$start-direction}: 15px !important;
  }
  .pl-30{
    padding-#{$start-direction}: 30px !important;
  }
  .strong {
    font-weight: bold;
  }

  ol {
    list-style: decimal;
    line-height: 32px;
    li {
      padding-#{$start-direction}: 10px;
    }
  }
  .text-left {
    text-align: #{$end-direction} !important;
  }
  .text-right {
    text-align: #{$start-direction} !important;
  }
  .float-left {
    float: #{$end-direction} !important;
  }
  .float-right {
    float: #{$start-direction} !important;
  }
  